.sidebar{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    

    
}

@media ( max-width:688px){
    .sidebar{
       display: none ;
    }
}